<!--
  ~  Copyright © 2015-2016. by ceph3us
  ~  All Rights Reserved.
  ~  www.ceph3us.pl
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.ceph3us.longclickonmenuitem">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity android:name=".LongClick">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
